.parent {
    min-height: calc(100vh - 4em);
    background-color: var(--color-purple);
    border-top: 2px solid var(--color-blue-darker);

    padding: 2em;
    display: flex;
    gap: 1em;
}

.parent-no-padding {
    padding: 0;
    min-height: 100vh;
}

.child {
    background-color: var(--color-orange-child);
    color: #fff;

    width: 18em;
    height: 12em;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
        font-size: 3rem;
        font-weight: bold;
    }
}

/* 
    Tips 
    Usa e crea classi in maniera appropriata, sia per padri che per i figli ( dove necessario ), esempio: 

    .parent-1 per grafica 1.png
    .parent-2 per grafica 2.png

    .child-1, .child-pink ... 

    Ricorda che puoi modificare i figli di specifici padri, esempio:
    .parent-1 {
        .child {
        }
    }
*/

.parent-1 {
    align-items: center;
    justify-content: center;
}

.parent-2 {
    align-items: center;
    flex-direction: column;
}

.parent-3 {
    align-items: center;
    flex-direction: column;

    .child {
        flex: 1 1 auto;
    }
}

.parent-4 {
    justify-content: space-between;
    align-items: flex-end;

    .child-self-start {
        align-self: start;
    }
}

.parent-5 {
    align-items: flex-end;
    justify-content: flex-end;
}

.parent-6 {
    align-items: flex-end;
    justify-content: flex-start;
}

.parent-7 {
    align-items: flex-end;
    
    .child {
        width: 100%;
    }
}

.parent-8 {
    align-items: center;
    justify-content: space-between;

    .child {
        flex: 1 1 auto;
    }
    .child-first {
        align-self: flex-end;
    }
    .child-last {
        align-self: flex-start;
    }
}

.parent-9, 
.parent-10,
.parent-11, 
.parent-12,
.parent-13, 
.parent-14, 
.parent-15 {
    align-items: center;
    justify-content: center;

    .child {
        flex: 1 1 auto;
    }
}

.parent-9, 
.parent-10 {
    .child-first {
        order: -2;
    }

    .child-last {
        order: -1;
    }
}

.parent-10 {
    .child-last {
        align-self: flex-end;
    }
}

.parent-11 {
    gap: 0;

    .child-first {
        order: 1;
    }

}

.parent-12 {
    .child-first {
        margin-top: 14em;
    }
    .child-last {
        margin-bottom: 14em;
    }
}

.parent-13 {
    gap: 8em;
    .child-second {
        order: -1;
    }
}

.parent-14 {

    .child-second {
        flex-grow: 10;
    }
}

.parent-15 {
    flex-direction: row-reverse;
    .child-last {
        flex-grow: 10;
    }
}

.parent-16 {
    justify-content: space-between;
    align-items: center;
}